@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,100;1,200;1,500;1,600&display=swap');
body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
}
nav{
  background-color: rgb(52, 52, 211);
  padding:20px 20px;
}
.nav-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  color:#fff;
  margin:0 auto;
}
.nav-center h3{
  letter-spacing: 4px;
}
.nav-center h3:hover{
  letter-spacing: 2px;
}
.nav-container{
  position: relative;
}
.amount-container{
  position: absolute;
  top:-20px;
  left:-10px;
  background-color: red;
  border-radius: 50%;
 
  width:30px;
  height:30px;
}
.total-amount{
  position: absolute;
  left:10px;
  top:-10px;
  text-align: center;
 font-weight: bold;
}
.cart{
  width:100%;
  max-width: 900px;
  margin:0 auto;
  text-align: center;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 30px;
}
.empty-cart{
    text-transform: lowercase;
  color: rgb(70, 70, 70);
  margin-top: 1rem;
  text-align: center;
}
.cart-total{
  display: flex;
  
}